@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Black.eot');
    src: url('../fonts/PlayfairDisplay-Black.eot') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Black.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Black.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*------null--------*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    font-family: 'Raleway';
    font-weight: 400;
    color: #27221C;
    font-size: 14px;
    line-height: 16px;
}

input, button, textarea, select {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

ul li {
    list-style: none;
}

/*------end of null--------*/

/*------general styles--------*/

.shadow1::before {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(175, 189, 213, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #F4F2F1;
}

._container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/*------end of general styles--------*/

/*------HEADER--------*/

.header {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 30px;
}

.header-main {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    background: #F4F2F1 url(../img/main/logo.svg) center center no-repeat;
    width: 265px;
    height: 67px;
}

.header-nav {
    display: grid;
    grid-template: 1fr 1fr / auto auto;
    grid-template-areas: "tel callback""search icons";
    column-gap: 60px;
    row-gap: 17px;
}

.header-nav__tel {
    grid-area: tel;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
    justify-self: end;
}

.header-nav__callback {
    grid-area: callback;
    display: flex;
    width: 130px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #AFBDD5;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.header-nav__callback:hover {
    background: #889ab9;
}

.header-nav__search {
    grid-area: search;
    align-self: end;
    display: flex;
    flex-direction: row;
}

.header-nav__search input {
    width: 200px;
    padding: 5px 5px 5px 0;
    border-bottom: #AFBDD5 2px solid;
    background: #F4F2F1;
    font-size: 14px;
    line-height: 16px;
    color: #27221C;
}

.header-nav__search input::placeholder {
    color: rgba(39, 34, 28, 0.4);
    font-size: 14px;
    line-height: 16px;
}

.header-nav__search div {
    width: 25px;
    height: 25px;
    background: #F4F2F1 url(../img/main/search.svg) center center no-repeat;
}

.header-nav__icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: end;
}

.burger {
    display: none;
}

.header-nav__heart, .header-nav__basket, .header-nav__cabinet, .burger {
    width: 25px;
    height: 25px;
}

.header-nav__heart {
    background: #F4F2F1 url(../img/main/heart.svg) center center no-repeat;
    position: relative;
}

.header-nav__basket {
    background: #F4F2F1 url(../img/main/shopping-bag.svg) center center no-repeat;
    position: relative;
}

.header-nav__cabinet {
    background: #F4F2F1 url(../img/main/user.svg) center center no-repeat;
}

.header-nav__heart span, .header-nav__basket span {
    width: 15px;
    height: 15px;
    background: #EDE0D4;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -7px;
}

.header-menu__list ul {
    display: grid;
    grid-auto-flow: column;
}

.header-menu__item {
    text-align: center;
    cursor: pointer;
}

.header-menu__item:hover {
    color: #AFBDD5;
}

.menu__catalog:after {
    content: url(../img/main/arrow-down.svg);
    margin-left: 15px;
}

.header-menu__item:not(:last-child) {
    border-right: #AFBDD5 1px solid;
}

@media (max-width: 1110px) {

    .header {
        padding-top: 15px;
    }

    .header-main {
        margin-top: 0px;
        margin-bottom: 0px;
        display: grid;
        grid-template: 1fr auto / 1fr;
        row-gap: 30px;
        justify-content: center;
    }

    .header-logo {
        background: #F4F2F1 url(../img/main/logo-mobile.svg) center center no-repeat;
        width: 100%;
    }

    .header-nav {
        display: grid;
        grid-template: 1fr / 1fr;
        grid-template-areas: "icons""icons";
        column-gap: 0;
        row-gap: 0;
    }

    .header-nav__tel {
        display: none;
    }

    .header-nav__callback {
        display: none;
    }

    .header-nav__search {
        display: none;
    }

    .header-nav__icons {
        grid-area: icons;
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        align-self: center;
        width: 290px;
        justify-self: center;
    }

    .header-menu {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: relative;
        width: 25px;
        height: 25px;
    }

    .burger:before, .burger:after {
        content: ' ';
        background: #AFBDD5;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .burger span {
        position: absolute;
        background: #AFBDD5;
        left: 0;
        width: 100%;
        height: 2px;
        top: 12px;
        transition: all 0.3s ease 0s;
    }

}

/*------end of HEADER--------*/

/*------CONTENT--------*/

/*------content general styles--------*/

.content {
    flex: 1 1 auto;
}

._title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 135%;
}

._button {
    display: flex;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #AFBDD5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

._button:hover {
    background: #9aabc9;
}

@media (max-width: 1110px) {
    ._title {
        font-size: 24px;
    }

    ._button {
        min-height: 20px;
        padding: 5px;
        font-size: 12px;
        line-height: 119%;
    }

}

/*------end of content general styles--------*/

/*------main page--------*/

/*------main slider--------*/

.main-slider {}

.main-slider_slideshow {
    border: none;
    box-shadow: none;
}

.main-slider_slideshow .swiper-button-next, .main-slider_slideshow .swiper-button-prev {
    display: none;
}

.main-slider_slideshow .swiper-pagination {
    position: initial;
    margin-top: 20px;
}

.main-slider_slideshow .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    transition: all 0.5s ease 0s;
}

.main-slider_slideshow .swiper-pagination-bullet {
    background: #F4F2F1;
    border: 1px solid #AFBDD5;
}

.main-slider_slideshow .swiper-pagination-bullet:hover {
    background: #AFBDD5;
}

.main-slider_slideshow .swiper-pagination-bullet-active {
    background: #AFBDD5;
}

/*------end of main slider--------*/

/*------end of main page--------*/

/*------end of CONTENT--------*/

/*------FOOTER--------*/

.footer {
    width: 100%;
    background: #AFBDD5;
}

.footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 60px;
}

.footer__title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}

.footer__ref {
    transition: all 0.3s ease 0s;
    font-size: 14px;
    line-height: 16px;
    display: block;
}

.footer__ref:not(:last-child) {
    margin-bottom: 15px;
}

.footer__ref:hover {
    opacity: 0.5;
}

.footer__social {
    display: flex;
    flex-direction: row;
}

.social__instagram, .social__telegram, .social__viber {
    width: 21px;
    height: 21px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-right: 20px;
}

.social__instagram {
    background: rgba(255, 255, 255, 0) url(../img/main/insta.svg) center center no-repeat;
}

.social__telegram {
    background: rgba(255, 255, 255, 0) url(../img/main/teleg.svg) center center no-repeat;
}

.social__viber {
    background: rgba(255, 255, 255, 0) url(../img/main/viber.svg) center center no-repeat;
}

.social__instagram:hover, .social__telegram:hover, .social__viber:hover {
    opacity: 0.5;
}

@media (max-width: 1110px) {
    .footer__container {
        padding-top: 20px;
        padding-bottom: 20px;
        row-gap: 30px;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }

    .footer__title {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 15px;
    }

    .footer__ref:not(:last-child) {
        margin-bottom: 10px;
    }
}

/*------end of FOOTER--------*/

/*------banners--------*/

._banner {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.banner__image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.banner__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner__title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 38px;
    line-height: 134%;
    color: #27221C;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    margin-bottom: 30px;
}

.banner__button {
    width: 240px;
}

.banner1, .banner2, .banner3, .banner4, .banner5 {
    position: relative;
}

.banner1__content, .banner2__content, .banner3__content, .banner4__content, .banner5__content {
    position: absolute;
}

.banner1__content {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 55%;
}

.banner2__content {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 40%;
}

.banner3__content {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 52%;
}

.banner4__content {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 35%;
}

.banner5__content {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 55%;
}

@media (max-width: 1110px) {
    .banner__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .banner__text {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .banner__button {
        width: 240px;
    }
}

@media (max-width: 767px) {
    .banner__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .banner__text {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .banner__button {
        width: 180px;
    }
}

@media (max-width: 767px) {
    .banner__title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .banner__text {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .banner__button {
        width: 140px;
    }
}

/*------end of banners--------*/

/*------column grid system--------*/

.no-columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    grid-template-areas: "content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top"
        "central-column central-column central-column central-column central-column central-column central-column central-column central-column central-column central-column central-column"
        "content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom";
}

.column-left {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    grid-template-areas: "content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top"
        "left-column left-column left-column central-column central-column central-column central-column central-column central-column central-column central-column central-column"
        "content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom";
}

.column-right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    grid-template-areas: "content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top"
        "central-column central-column central-column central-column central-column central-column central-column central-column central-column right-column right-column right-column"
        "content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom";
}

.column-left-right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    grid-template-areas: "content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top content-top"
        "left-column left-column left-column central-column central-column central-column central-column central-column central-column right-column right-column right-column"
        "content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom content-bottom";
}

.content-top {
    grid-area: content-top;
}

.left-column {
    grid-area: left-column;
}

.central-column {
    grid-area: central-column;
}

.right-column {
    grid-area: right-column;
}

.content-bottom {
    grid-area: content-bottom;
}

/*------end of column grid system--------*/